/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* grid-template-rows: 4rem 8rem 23rem 3rem; */
}

.h1 {
  font: normal 600 2rem "Noto Sans KR";
}

/* 마법사 컨테이너 */
.wizardContainer {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 조건부 렌더링 (마법사 1 ~ 4)*/

/* 마법사 1 */
.wizard1 {
  display: grid;
  column-gap: 1rem;
  row-gap: 0;
  grid-template-columns: 4rem auto;
  grid-template-rows: 3rem auto 3rem 3rem 3rem;
}

.label {
  margin: 0.3rem 0;
}
.input :first-child {
  margin: 0.3rem 0;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #dddddd;
  background-color: white;
}
.input textarea {
  padding: 0.5rem;
}

/* 마법사 2 */
.wizard2 {
  display: flex;
  min-height: 20rem;
  flex-direction: column;
  transition: ease-in-out 1s;
  align-items: center;
}
.dogeAndAdd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.doge {
  max-width: 512px;
  width: 30%;
}
.pleaseAdd {
  font: normal 600 1.2rem "Noto Sans KR";
}
.onModalBtn {
  vertical-align: middle;
  text-align: center;
  font: normal 600 1.2rem "Noto Sans KR";
}

.onMeasuringModal {
  background-color: #ff5656;
  padding: 0.5rem;
  color: white;
  border: solid #333333 1px;
  border-radius: 10px;
  width: 6rem;
  text-align: center;
}

.products .name {
  padding: 0.1rem;
  background-color: #fff0f0;
}
.products .mfr {
  padding: 0.1rem;
  background-color: #f3f3f3;
}

.selectedFoodMapContainer {
  height: 25vh;
  overflow-y: auto;
}
.selectedFoodMapHeader {
  background-color: #dedede;
  display: grid;
  grid-template-columns: 35% 35% 10% 10% 10%;
  border-bottom: 1px solid #333333;
  text-align: center;
  margin: 0;
}
.selectedFoodMapItems {
  display: grid;
  width: 85vw;
  text-align: center;
  align-items: center;
  grid-template-columns: 35% 35% 10% 10% 10%;
  margin: 0.2rem;
  background-color: #f3f3f3;
}

.btnAdd {
  background-color: #f3f3f3;
  color: #ff5656;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 마법사 3 */
.wizard3 {
  display: flex;
  flex-direction: column;
}

/* 마법사 3 - 스텝목록 */
.stepsWrapper {
  border: 1px solid #dedede;
  width: 100%;
  height: 15rem;
  overflow-y: scroll;
}
.stepEmpty {
  height: 100%;
  text-align: center;
}
.stepItem {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  height: 15vh;
  border: 1px solid #dddddd;
  align-items: center;
  margin: 0.5rem;
}
.stepIndex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #ff5656;
}
.stepDesc {
  height: 13vh;
  overflow-y: hidden;
  background-color: white;
}
.stepDel {
  text-align: center;
}

/* 마법사 3 - 스텝 추가 */
.addContainer {
  display: flex;
  width: 100%;
}
.errorMsg {
  color: red;
  position: absolute;
  transform: translate(10vw, -2rem);
}

.addFormContainer {
  display: flex;
  width: 100%;
}

.imgPreviewWrapper {
  width: 30%;
}
.imgAddButton {
  display: flex;
  flex-direction: column;
  background-color: #999999;
  color: white;
  padding: 0.5rem;
  font-size: 0.1rem;
}
.imgPreview {
  width: 100%;
}
.imgPreview span {
  font-size: 0.8rem;
}

.customFileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
}

.stepDescTextarea {
  padding: 0.5rem;
  width: 55%;
  border: 1px solid #dddddd;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.btnWrapperAdd,
.btnWrapperDel {
  display: flex;
  flex-direction: column;
  height: 50%;
  border: 1px solid #dedede;
  justify-content: center;
  align-items: center;
}
.btnWrapperAdd {
  background-color: #fff0f0;
  color: #ff5656;
}
.btnWrapperDel {
  color: #333333;
}

/* 마법사 4 - 완료 페이지 */
.submits {
  display: grid;
  grid-template-rows: 3rem 25vh 3rem;
  text-align: center;
  color: #ff5656;
}
.repImgWrapper {
  position: relative;
}
.repImg {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}
/* 하단 버튼 */
.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.footer .button1 {
  background: #ff5656;
  width: 30%;
  height: 2.8rem;
  border-radius: 10px;
  border: 1px solid #ff5656;
  cursor: pointer;
  color: #ffffff;
  font: normal 400 1.2rem "Noto Sans KR";
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .button1:active {
  position: relative;
  top: 2px;
}
.footer .button2 {
  background: #ffffff;
  width: 30%;
  height: 2.8rem;
  border-radius: 10px;
  border: 1px solid #666666;
  cursor: pointer;
  color: #666666;
  font: normal 400 1.2rem "Noto Sans KR";
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .button2:active {
  position: relative;
  top: 2px;
}
