/* PC , 테블릿 가로 (해상도 1024px ~ )*/
@media all and (min-width: 1024px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 45%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 0.6rem;
    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    width: 12vw;
    display: grid;
    place-items: center;
  }
  .itemDiv {
    margin: 0;
  }
  .itemDiv1 {
    width: 10vw;
  }
  .itemDiv2 {
    width: 10vw;
  }
  .itemDiv3 {
    width: 8vw;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 0.5rem;
  }
  .contentBody p {
    margin-top: -1rem;
    color: #444444;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
  }
  .content3 p {
    margin: 0;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter0 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter0 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter1 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter1 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter2 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter2 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter3 {
    display: grid;
    place-items: center;
  }
  .contentFooter3 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter3 .button1:active {
    position: relative;
    top: 2px;
  }
}
/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 45%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 0.6rem;
    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    display: grid;
    place-items: center;
    width: 35vw;
    height: 35vh;
  }
  .itemDiv {
    margin: 0;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 0.5rem;
  }
  .contentBody p {
    margin-top: -1rem;
    color: #444444;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
  }
  .content3 p {
    margin: 0;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter0 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter0 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter1 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter1 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter2 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter2 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter3 {
    display: grid;
    place-items: center;
  }
  .contentFooter3 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter3 .button1:active {
    position: relative;
    top: 2px;
  }
}
/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 45%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 0.6rem;
    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    display: grid;
    place-items: center;
    width: 40vw;
    height: 40vh;
  }
  .itemDiv {
    margin: 0;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 0.5rem;
  }
  .contentBody p {
    margin-top: -1rem;
    color: #444444;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
  }
  .content3 p {
    margin: 0;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter0 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter0 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter1 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter1 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter2 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter2 .button2 {
    background: #ffffff;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter3 {
    display: grid;
    place-items: center;
  }
  .contentFooter3 .button1 {
    background: #e4685d;
    width: 30vw;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter3 .button1:active {
    position: relative;
    top: 2px;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media screen and (max-width: 479px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 45%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 0.6rem;
    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    display: grid;
    place-items: center;
    width: 40vw;
    height: 40vh;
  }
  .itemDiv {
    margin: 0;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    font-size: 1.8rem;
    margin: 0;
    line-height: 0.5rem;
  }
  .contentBody p {
    margin-top: -1rem;
    color: #444444;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0.5rem;
  }
  .content3 p {
    margin: 0;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter0 .button1 {
    background: #e4685d;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter0 .button2 {
    background: #ffffff;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter1 .button1 {
    background: #e4685d;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter1 .button2 {
    background: #ffffff;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter2 .button1 {
    background: #e4685d;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button1:active {
    position: relative;
    top: 2px;
  }
  .contentFooter2 .button2 {
    background: #ffffff;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button2:active {
    position: relative;
    top: 2px;
  }

  .contentFooter3 {
    display: grid;
    place-items: center;
  }
  .contentFooter3 .button1 {
    background: #e4685d;
    width: 9.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter3 .button1:active {
    position: relative;
    top: 2px;
  }
}
