.container {
  background-color: white;
  width: 80%;
  min-width: 300px;
  max-width: 800px;
  height: 90%;
  position: fixed;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.close {
  display: inline-block;
  *display: inline;
  float: right;
  margin: auto;
}

.close:after {
  display: inline-block;
  content: "\00d7";
  font-size: 50pt;
  float: right;
  margin: auto;
}
