.container {
  font-family: "NanumSquare";
  background-color: #fff0f0;
  height: 25vh;
  text-align: center;
}

.wrapper {
  margin: 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: white;
  height: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 5px #fff0f0 solid;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
}

.innerWrapper p {
  color: #333333;
}
