.container {
  display: flex;
  font: normal 600 1.2rem "Noto Sans KR";
  padding: 0 1rem;
  padding-bottom: 1.6rem;
}

.tab {
  text-align: center;
  margin: 0 10px;
  color: #999;
}

.activated {
  color: #333;
  border-bottom: solid 3px #333;
}
