.container {
  color: #111111;
  background-color: white;
  width: 80vw;
  height: 15vh;
  position: fixed;
  overflow-y: unset;
  left: 50%;
  top: 30%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 0.6rem;
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
}

.inputWrapper {
  height: 3rem;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 10px;
}
.input {
  height: 3rem;
  width: 62vw;
  font: normal 400 1.2rem "Note Sans KR";
}
.button {
  color: tomato;
  padding: 0.2rem;
  height: 3rem;
  background-color: white;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 10px;
  border: solid transparent;
}
.button i {
  transform: translateX(2px);
}

.resultContainer {
  min-height: 60%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #dadce0;
}

.footer {
  display: flex;
  justify-content: center;
}
.xBtn {
  background: #e4685d;
  border-radius: 0.6rem;
  width: fit-content;
  height: fit-content;
  border: 1px solid #e4685d;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
