.container {
  color: #111111;
  background-color: white;
  width: 80vw;
  height: 70vh;
  position: fixed;
  overflow-y: unset;
  left: 50%;
  top: 45%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 0.6rem;
  display: grid;
  grid-template-rows: 55% 30% 15%;
  text-align: center;
}

.inputWindow {
  display: inline-block;
  width: 366px;
  border: 3px solid #2db400;
}
.input {
  width: calc(100% - 14px);
  margin: 6px 7px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}
.button {
  width: 54px;
  height: 36.5px;
  margin: 0;
  border: 0;
  vertical-align: top;
  background: #22b600;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
}
.button:hover {
  background: #56c82c;
}
