/* google font: 'Nanum Gothic', 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  overflow-y: scroll; /*레이아웃 이동현상 방지 스크롤바 표시*/
}

body::-webkit-scrollbar {
  width: 6px; /*스크롤바의 너비*/
}

body::-webkit-scrollbar-thumb {
  background-color: #b2b2b2; /*스크롤바의 색상*/
}

body::-webkit-scrollbar-track {
  background-color: #d8d8d8; /*스크롤바 트랙 색상*/
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* datepicker custom */
.react-datepicker__input-container input {
  border: none;
}

.customInput {
  font: normal bold 1.2rem/100% "Poppins";
}

.react-datepicker {
  padding: 10px;
  font-size: 1rem !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50% !important;
  background-color: #02b0b0 !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;
  background-color: #f0f0f0;
}
/* dropdown Menu */
/* .dropdownMenu {
  font-size: 1;
} */
/* Progress Bar */
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px auto;
	height:10px;
	width: 90%;
  overflow: hidden;
}

.progress-done {
	background: linear-gradient(315deg , #7ee8fa, #80ff72);
	box-shadow: 0 3px 3px -5px #7ee8fa, 0 1px 0.4px #DCD1FF;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
  position: absolute;
  top:0;
  left: 0;
}