@media screen and (min-width: 1200px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    min-width: 300px;
    max-width: 800px;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    display: grid;
    place-items: center;
    width: 40vw;
    height: 40vh;
  }
  .itemDiv {
    margin: 0px;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    margin: 0;
    line-height: 0.5em;
  }
  .contentBody p {
    margin-top: -20px;
    color: #444444;
    font-size: 1.1em;
    line-height: 1.8em;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .content3 p {
    margin: 0px;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .contentFooter0 .button1 {
    background: #e4685d;
    height: 2.5em;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 1px;
  }
  .contentFooter0 .button2 {
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 1px;
  }

  .contentFooter1 {
    display: grid;
    justify-content: center;
  }
  .contentFooter1 .buttonNo {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
  }
  .contentFooter1 .buttonNo:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
  }
  .contentFooter1 .buttonNo:active {
    position: relative;
    top: 1px;
  }
}
