@media screen and (min-width: 1200px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .container {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 70vh;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .close {
    display: inline-block;
    *display: inline;
    float: right;
    margin: auto;
  }

  .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50pt;
    float: right;
    margin: auto;
  }

  .contentBody2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .container {
    color: #111111;
    background-color: white;
    width: 80vw;
    height: 70vh;
    min-width: 300px;
    max-width: 800px;
    position: fixed;
    overflow-y: unset;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: grid;
    grid-template-rows: 55% 30% 15%;
    text-align: center;
  }

  .contentHeader {
    display: grid;
    place-items: center;
  }
  .headerImg {
    display: grid;
    place-items: center;
    width: 40vw;
    height: 40vh;
  }
  .itemDiv {
    margin: 0px;
  }

  .contentBody {
    display: grid;
    place-items: center;
  }
  .contentBody h1 {
    margin: 0;
    line-height: 0.5em;
  }
  .contentBody p {
    margin-top: -20px;
    color: #444444;
    font-size: 1.1em;
    line-height: 1.8em;
  }

  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 1em;
  }

  .content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1em;
  }

  .content3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2em;
    column-gap: 0.5em;
  }
  .content3 p {
    margin: 0px;
  }

  .contentFooter0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter0 .button1 {
    background: #e4685d;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button1:active {
    position: relative;
    top: 1px;
  }
  .contentFooter0 .button2 {
    background: #ffffff;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter0 .button2:active {
    position: relative;
    top: 1px;
  }

  .contentFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter1 .button1 {
    background: #e4685d;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button1:active {
    position: relative;
    top: 1px;
  }
  .contentFooter1 .button2 {
    background: #ffffff;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter1 .button2:active {
    position: relative;
    top: 1px;
  }

  .contentFooter2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .contentFooter2 .button1 {
    background: #e4685d;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button1:active {
    position: relative;
    top: 1px;
  }
  .contentFooter2 .button2 {
    background: #ffffff;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter2 .button2:active {
    position: relative;
    top: 1px;
  }

  .contentFooter3 {
    display: grid;
    place-items: center;
  }
  .contentFooter3 .button1 {
    background: #e4685d;
    width: 8.5em;
    height: 3em;
    border-radius: 6px;
    border: 1px solid #e4685d;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentFooter3 .button1:active {
    position: relative;
    top: 1px;
  }
}
