.modal {
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 90%;
    position: fixed;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }