/* reset */
a{
  text-decoration:none;
  color:inherit;
}
ul,li,ol,dl,dt,dd{
  list-style:none;
}
input{
  -webkit-appearance:none;
  -webkit-border-radius:0;
}

/* datepicker custom */
.ui-widget-content,
.ui-widget-content,
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker table,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-default {
  background: #fff;
  	
}
.ui-datepicker-inline {
  padding: 0;
}
.ui-widget-header {
  border: none;
}