.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  min-height: 50vh;
  transform: none;
}

.container:end {
  transition: all 5s;
  transform: translateX(30px);
}
