.form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 50vh;
  width: 100vw;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-width: 20vh;
  align-items: flex-start;
  margin-top: 20px;
  /* height: 20vh; */
}

.form-field > input {
  align-self: stretch;
  height: 40px;
  border: 2px solid rgba(47, 48, 49, 0.15);
  margin: 0;
  outline: 0;
  border-radius: 10px;
  padding-left: 10px;
  font-weight: 300;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  transition: color 500ms ease, border-color 0.5s ease;
}

.form-field button {
  transition: 500ms all;
}

.form-field > input:focus {
  border: 2px solid rgba(21, 243, 243, 1);
}

.form span {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 20px;
}
