.form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 70vh;
  width: 100vw;
  padding: 1rem;
  /* background-color: #fff0f0; */
}

.form div:nth-child(1) {
  margin-bottom: 10vh;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 50vh; */
  align-items: center;
  /* margin-top: 20px; */
  /* height: 20vh; */
  position: relative;
}

.form-field > input {
  /* align-self: ; */
  /* border: 2px solid rgba(47, 48, 49, 0.15); */
  margin-bottom: 1rem;
  outline: 0;
  border-style: hidden;
  /* font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif; */
  transition: all 500ms ease, border-color 0.5s ease;
  text-align: center;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  font: normal 500 1.5rem "Noto Sans KR";
}

.form-field > input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  /* color: #fff; */
}

.form-field button {
  transition: 500ms all;
  background-color: #ff9393;
}

.form span {
  font-size: 1.7em;
  font-weight: 700;
}
