.button {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  width: 100px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  position: absolute;
}
.button2 {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  text-align: center;
  padding: 10px;
  font: normal 500 1.2rem/22px "Noto Sans KR";
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  position: fixed;
}
.button1 {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  width: 80px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.listButton {
  display: inline-block;
  border: 0;
}

.radioFont {
  font-size: 16px;
}

.radio {
  width: 20px;
  height: 20px;
  border: 1px;
  border-color: lightgray;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 175px;
}
.nav {
  text-align: center;
  margin: 0 10px;
  color: "#999";
}
.nav:current {
  text-decoration: underline;
}

.modalBtn {
  color: white;
  font: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 2rem;
  padding: 0.2rem;
  background-color: #ff5656;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 10px;
  border: solid transparent;
}
