.button {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  width: 100px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  position: absolute;
}
.button1 {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  width: 80px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.listButton {
  display: inline-block;
}

.radioFont {
  font-size: 16px;
}

.radio {
  width: 20px;
  height: 20px;
  border: 1px;
  border-color: lightgray;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 175px;
}
