.text {
  font-weight: bold;
  width: 70vw;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
}
.text2 {
  font-weight: bold;
  width: 50vw;
  height: 30px;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
}
.mImage {
  width: 100vw;
  height: 30vh;
  position: absolute;
}
.image {
  width: 30px;
  height: 30px;
  color: #4f4f4f;
  position: absolute;
  left: 0;
  top: 15px;
}
.image2 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  color: white;
}
.image3 {
  width: 20px;
  height: 20px;
}
.image4 {
  width: 24px;
  height: 28px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 20px;
}
.modalImage {
  z-index: 1;
}
.back {
  margin: 0;
  position: absolute;
  left: 0;
}
.modalBack {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 0;
}
.nav {
  margin-top: 10px;
  text-align: center;
  margin: 0 20px;
  color: #000;
  font: normal normal normal 1.2rem/22px "Noto Sans KR";
}
.navDiv {
  display: flex;
  position: fixed;
  height: 5vh;
  top: 8vh;
  z-index: 5;
  align-items: center;
  width: 100vw;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.664);
}
.activated {
  color: #ff5656;
  border-bottom: solid 3px #ff5656;
}

.search {
  position: absolute;
  right: 0;
  top: 20px;
}

.textC {
  display: flex;
  justify-content: center;
  position: relative;
  left: "10px";
}
.actions {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.modalText {
  font-weight: bold;
  text-align: center;
  width: 60vw;
  height: 50px;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
  margin: 0 15px 0 25px;
  position: relative;
  left: 10px;
}
.search2 {
  position: relative;
  top: 10px;
  left: 10px;
}
.loader {
  width: 93vw;
  height: auto;
  min-height: 5vh;
  border: 2px solid lightgray;
  border-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.loaderText {
  margin: 0;
  position: relative;
  text-align: center;
  font: normal 500 1.2rem/22px "Noto Sans KR";
  top: 20px;
  left: 40px;
}
.loaderImage {
  position: relative;
  right: 40px;
  top: 20px;
  transition: all ease 2s 0s;
  transform: rotate(360deg);
  transform-origin: top right;
}
