.text {
  font-weight: bold;
  width: 70vw;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
}
.text2 {
  font-weight: bold;
  width: 50vw;
  height: 30px;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
}
.mImage {
  width: 100vw;
  height: 30vh;
  position: absolute;
}
.image {
  width: 30px;
  height: 30px;
  color: #4f4f4f;
  position: absolute;
  left: 0;
  top: 15px;
}
.image2 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  color: white;
}
.image3 {
  width: 20px;
  height: 20px;
}
.image4 {
  width: 24px;
  height: 28px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 20px;
}

.back {
  margin: 0;
  position: absolute;
  left: 0;
}

.nav {
  margin-top: 10px;
  text-align: center;
  margin: 0 20px;
  color: #000;
  font: normal normal normal 1.2rem/22px "Noto Sans KR";
}
.navDiv {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  width: 100vw;
  background-color: white;
}
.activated {
  color: #ff5656;
  border-bottom: solid 3px #ff5656;
}

.search {
  position: relative;
  left: 45vw;
  top: 2%;
  z-index: 3;
  background-color: white;
}

.textC {
  display: flex;
  justify-content: center;
  position: relative;
  left: "10px";
}
.actions {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.search2 {
  position: relative;
  top: 10px;
  left: 10px;
}
.fileUpload {
  z-index: 2;
}
