@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/* List */
.ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
  display: grid;
  margin: 10px;
}

/* List element */
.li {
  display: grid;
}
