@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/* List */
.ul {
  text-align: center;
  background-color: #fff;
  font: normal 500 1rem/24px Noto Sans KR;
}

/* List element */
.li {
  display: grid;
}
