.imageWrap {
  position: relative;
  border-radius: 0.3rem;
}
.imagePart {
  background-color: gray;
  width: "50px";
  position: absolute;
  left: 30%;
  top: 0;
  margin-top: 10px;
  text-align: right;
  z-index: 1;
  color: white;
}
.container {
  margin: 10px;
}

.button {
  background-color: #35a2f4;
  color: #fff;
  border: 1px;
  border-radius: 0.3rem;
  width: 30%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.listAllHead {
  font: normal 600 1.4rem/24px "Noto Sans KR";
  text-align: center;
  left: 30%;
  top: 10px;
  position: absolute;
}
.modalBack {
  position: relative;
  left: 0;
}
.listHead {
  margin-top: 2rem;
  border-bottom: 1px solid lightgray;
}
.ImageSpace {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.image {
  z-index: 0;
  border-radius: 0.7rem;
  width: 40%;
  margin: 10px 0 10px 0;
}
.title {
  margin: 0;
  position: relative;

  text-align: center;
  font: normal 600 1.2rem/22px "Noto Sans KR";
}
.ul {
  text-align: center;
  position: relative;
  left: 40%;
  top: 10%;
  width: 65%;
  height: 30%;
  top: 10px;
}
.li {
  font: normal 400 1.1rem/22px "Noto Sans KR";
}
.trigger {
  position: relative;
  bottom: 1.8rem;
  padding: 3% 27vw;
  border: 1px solid;
  border-radius: 0.4rem;
  text-align: center;
  font: normal 500 1.1rem/22px "Noto Sans KR";
}
.h2L {
  margin: 5px 0;
  position: relative;
  bottom: 1rem;
  text-align: center;
  font: normal 500 1.2rem/22px "Noto Sans KR";
}
.mainLi {
  position: relative;
  bottom: 1rem;
  margin: 3px 0;
  font: normal 400 1.1rem/22px "Noto Sans KR";
}
.backIcon {
  position: relative;
  top: 10px;
}
