.textC {
  display: flex;
  justify-content: center;
  position: relative;
  left: "10px";
}
.modalText {
  font-weight: bold;
  text-align: center;
  width: 60vw;
  height: 50px;
  border: solid 2px lightgray;
  border-radius: 6px;
  font-size: 16px;
  margin: 0 15px 0 25px;
  position: relative;
  left: 10px;
}
.search2 {
  position: relative;
  top: 10px;
  left: 10px;
}
.modalBack {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 0;
}
.modalContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
}
.title {
  position: relative;
  bottom: 0.9rem;
  font: normal 500 1.1rem/22px "Noto Sans KR";
}
.content {
  position: relative;
  bottom: 0.9rem;
  font: normal 500 1rem/22px "Noto Sans KR";
}
.modalImageDiv {
  z-index: 0;
  border-radius: 5%;
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: center;
}
.modalImage {
  z-index: 1;
}
.actions {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.loader {
  width: 93vw;
  height: auto;
  min-height: 5vh;
  border: 2px solid lightgray;
  border-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.loaderText {
  margin: 0;
  position: relative;
  text-align: center;
  font: normal 500 1.2rem/22px "Noto Sans KR";
  top: 20px;
  left: 40px;
}
.loaderImage {
  position: relative;
  right: 40px;
  top: 20px;
  transition: all ease 2s 0s;
  transform: rotate(360deg);
  transform-origin: top right;
}
.search {
  position: absolute;
  right: 0;
  top: 20px;
}
.participant {
  background-color: gray;
  width: 50px;
  text-align: right;
  font: normal 500 1rem/22px "Noto Sans KR";
  z-index: 1;
  color: white;
  position: relative;
  left: 25.5vw;
  bottom: 10vh;
}
.modalFont {
  font: normal 500 1.1rem/22px "Noto Sans KR";
  text-align: center;
}
.modalH3 {
  text-align: center;
  font: normal 500 1.5rem/22px "Noto Sans KR";
}
.modalTrophy {
  position: relative;
  left: 40vw;
}
.modalH2 {
  text-align: center;
  color: #ff5656;
}
.recContainer {
  margin-top: 2vh;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
}
.recList {
  position: relative;
  top: 20px;
}
.recPart {
  background-color: "gray";
  width: "54px";
  height: "20px";
  right: "2%";
  top: "5%";
  position: "absolute";
  text-align: "right";
  z-index: "1";
  color: "white";
}
.recImage {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  color: white;
}
.recTitle {
  margin: 0;
  position: relative;
  text-align: left;
  left: 5%;
  font: normal 600 1.2rem/22px "Noto Sans KR";
}
.recTime {
  margin: 0;
  position: relative;
  text-align: left;
  left: 5%;
  font: normal 600 1.1rem/22px;
}
