.footerWrapper {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.imgContainer {
  width: 3rem;
}

.footerWrapper p {
  font: normal 400 1rem 'Noto Sans KR';
  color: #333
}


