.footerWrap {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@keyframes heartbeat {
  from {
    transform: scaleX(0px);
    /* transform: translateY(0px); */
  }

  50% {
    /* transform: translateY(20px); */
    transform: scaleX(100%) scaleY(100%) translateY(-5px);
  }

  to {
    transform: scaleX(0px);
    /* transform: translateY(0px); */
  }
}

.navWrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menuBtn {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

.imgContainer {
  width: 4rem;
}

.imgContainer > :nth-child(1) {
  animation: heartbeat 1s;
  animation-iteration-count: 2;
}

.navWrap p {
  font: normal 400 0.8rem "Noto Sans KR";
  margin-top: 2px;
  color: #333;
}
