.like {
  display: flex;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  color: tomato;
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 100%;
  padding: 0.8rem 0.7rem;
}

.like i {
  margin: 0;
}

.likeSmall {
  text-align: center;
  font-size: 2.5rem;
  border: 0;
  color: tomato;
  background-color: white;
}

.dislike {
  display: flex;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  color: tomato;
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 100%;
  padding: 0.8rem 0.7rem;
}

.dislike i {
  margin: 0;
}

.dislikeSmall {
  text-align: center;
  font-size: 2.5rem;
  border: 0;
  color: tomato;
  background-color: white;
}
